<div{{ attributes }}>
    Text:
    <input type="text" data-model="on(change)|name">
    Can be modified.

    <br>

    DateTime:
    <input type="datetime-local" data-model="on(change)|dateField">
</div>
